# 淘宝源
registry=https://registry.npmmirror.com/

# Electron 专用国内镜像 (关键！否则安装 Electron 99% 会卡住)
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 提升依赖安装速度
shamefully-hoist=true
auto-install-peers=true