@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%; /* 必须是 100% */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f3ed; /* 确保底色也是米色，这样就算露出来也看不见白色 */
}
